<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion" >

    <select id="colaborador" parameterType="map" resultType="pojo.Colaborador" >
       SELECT c.id_colaborador, c.nombre, c.apellido_paterno, c.apellido_materno, c.numero_personal,
        c.curp, c.correo_electronico, c.contrasena, c.idrol,r.nombre_rol
        FROM Colaborador c
        INNER JOIN rol r ON r.idrol = c.idrol
        WHERE c.numero_personal = #{numeroPersonal} AND c.contrasena = #{contrasena};
    </select>
    
   

</mapper>

