<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador" >
    
    <select id="obtener-todos" resultType="pojo.Colaborador" >
       SELECT 
        c.id_colaborador AS idColaborador,
        c.nombre AS nombre,
        c.apellido_paterno AS apellidoPaterno,
        c.apellido_materno AS apellidoMaterno,
        c.numero_personal AS numeroPersonal,
        c.curp AS curp,
        c.correo_electronico AS correoElectronico,
        c.numero_licencia AS numeroLicencia,
        c.id_unidad_asignada AS idUnidadAsignada,
        c.codigo_sucursal AS codigoSucursal,
        s.nombre_corto AS sucursal,
        c.idrol AS idRol,
        r.nombre_rol AS rol
    FROM colaborador c
    INNER JOIN rol r ON r.idrol = c.idrol
    INNER JOIN sucursal s ON s.codigo_sucursal = c.codigo_sucursal

    </select>
    
    <!--validaciones antes de realizar el registro-->
    
    <select id="existe-curp" parameterType="string" resultType="int">
    SELECT COUNT(*) FROM colaborador WHERE curp = #{curp}
    </select>

    <select id="existe-correo" parameterType="string" resultType="int">
    SELECT COUNT(*) FROM colaborador WHERE correo_electronico = #{correoElectronico}
    </select>

    <select id="existe-numero-personal" parameterType="string" resultType="int">
    SELECT COUNT(*) FROM colaborador WHERE numero_personal = #{numeroPersonal}
    </select>
    
    

    <insert id="registrar" parameterType="pojo.Colaborador">
        INSERT INTO colaborador (numero_personal,nombre,apellido_paterno,apellido_materno,curp,correo_electronico,contrasena,
        numero_licencia,idrol,codigo_sucursal,id_unidad_asignada) 
        VALUES(#{numeroPersonal},#{nombre},#{apellidoPaterno},#{apellidoMaterno},#{curp},#{correoElectronico},#{contrasena},#{numeroLicencia},
        #{idRol},#{codigoSucursal},#{idUnidadAsignada})
    </insert>
        
    <update id ="editar" parameterType ="pojo.Colaborador">
         UPDATE colaborador
    SET
        nombre = #{nombre},
        apellido_paterno = #{apellidoPaterno},
        apellido_materno = #{apellidoMaterno},
        curp = #{curp},
        correo_electronico = #{correoElectronico},
        contrasena = #{contrasena},
        numero_licencia = #{numeroLicencia},
        codigo_sucursal = #{codigoSucursal},
        id_unidad_asignada = #{idUnidadAsignada}
    WHERE id_colaborador = #{idColaborador};
    </update>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM colaborador WHERE id_colaborador =#{idColaborador}
    </delete>
    
    
     <select id="obtener-por-nombre" parameterType="string" resultType="pojo.Colaborador">
    SELECT 
        c.id_colaborador AS idColaborador,
        c.nombre AS nombre,
        c.apellido_paterno AS apellidoPaterno,
        c.apellido_materno AS apellidoMaterno,
        c.numero_personal AS numeroPersonal,
        c.curp AS curp,
        c.correo_electronico AS correoElectronico,
        c.id_unidad_asignada AS idUnidadAsignada,
        c.idrol AS idRol,
        r.nombre_rol AS rol
        FROM colaborador c
        INNER JOIN rol r ON r.idrol = c.idrol
        WHERE CONCAT_WS(' ', c.nombre, c.apellido_paterno, c.apellido_materno) COLLATE utf8_general_ci LIKE CONCAT('%', #{filtro}, '%')
       OR c.nombre COLLATE utf8_general_ci LIKE CONCAT('%', #{filtro}, '%')
       OR c.apellido_paterno COLLATE utf8_general_ci LIKE CONCAT('%', #{filtro}, '%')
       OR c.apellido_materno COLLATE utf8_general_ci LIKE CONCAT('%', #{filtro}, '%');
    </select>

    
     <select id="obtener-por-noPersonal" parameterType="string" resultType="pojo.Colaborador" >
       SELECT 
        c.id_colaborador AS idColaborador,
        c.nombre AS nombre,
        c.apellido_paterno AS apellidoPaterno,
        c.apellido_materno AS apellidoMaterno,
        c.numero_personal AS numeroPersonal,
        c.curp AS curp,
        c.correo_electronico AS correoElectronico,
        c.id_unidad_asignada AS idUnidadAsignada,
        c.idrol AS idRol,
        r.nombre_rol AS rol
    FROM colaborador c
    INNER JOIN rol r ON r.idrol = c.idrol
        WHERE numero_personal = #{numeroPersonal};

    </select>
    
    
    <select id="obtener-por-rol" parameterType="int" resultType="pojo.Colaborador" >
       SELECT 
        c.id_colaborador AS idColaborador,
        c.nombre AS nombre,
        c.apellido_paterno AS apellidoPaterno,
        c.apellido_materno AS apellidoMaterno,
        c.numero_personal AS numeroPersonal,
        c.curp AS curp,
        c.correo_electronico AS correoElectronico,
        c.id_unidad_asignada AS idUnidadAsignada,
        c.idrol AS idRol,
        r.nombre_rol AS rol
    FROM colaborador c
    INNER JOIN rol r ON r.idrol = c.idrol
        WHERE c.idrol = #{idRol};
    </select>
    
    
    <select id="obtener-roles" resultType="pojo.Rol">
        SELECT idrol AS idRol, nombre_rol AS nombreRol FROM rol
    </select>
    
   
     <update id="guardar-foto" parameterType="pojo.Colaborador">
        UPDATE colaborador set fotografia = #{foto}
        WHERE id_colaborador = #{idColaborador}
    </update>
    
     <select id = "obtener-foto" parameterType = "int" resultType ="pojo.Colaborador">
        SELECT id_colaborador, TO_BASE64(fotografia) as fotografia FROM colaborador WHERE id_colaborador = #{idColaborador}
    </select>
    
   

</mapper>