<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador" >
    
    <select id="obtener-todos" resultType="pojo.Colaborador" >
       SELECT 
        c.id_colaborador AS idColaborador,
        c.nombre AS nombre,
        c.apellido_paterno AS apellidoPaterno,
        c.apellido_materno AS apellidoMaterno,
        c.numero_personal AS numeroPersonal,
        c.curp AS curp,
        c.correo_electronico AS correoElectronico,
        c.id_unidad_asignada AS idUnidadAsignada,
        c.idrol AS idRol,
        r.nombre_rol AS rol
    FROM colaborador c
    INNER JOIN rol r ON r.idrol = c.idrol
    </select>

    <insert id="registrar" parameterType="pojo.Colaborador">
        INSERT INTO colaborador (numero_personal,nombre,apellido_paterno,apellido_materno,curp,correo_electronico,contrasena,
        numero_licencia,idrol,codigo_sucursal,id_unidad_asignada) 
        VALUES(#{numeroPersonal},#{nombre},#{apellidoPaterno},#{apellidoMaterno},#{curp},#{correoElectronico},#{contrasena},#{numeroLicencia},
        #{idRol},#{codigoSucursal},#{idUnidadAsignada})
    </insert>
        
    <update id ="editar" parameterType ="pojo.Colaborador">
         UPDATE colaborador
    SET
        nombre = #{nombre},
        apellido_paterno = #{apellidoPaterno},
        apellido_materno = #{apellidoMaterno},
        curp = #{curp},
        correo_electronico = #{correoElectronico},
        contrasena = #{contrasena},
        numero_licencia = #{numeroLicencia},
        codigo_sucursal = #{codigoSucursal},
        id_unidad_asignada = #{idUnidadAsignada}
    WHERE id_colaborador = #{idColaborador};
    </update>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM colaborador WHERE id_colaborador =#{idColaborador}
    </delete>
    
    
     <select id="obtener-por-nombre" parameterType="string" resultType="pojo.Colaborador" >
       SELECT 
        c.id_colaborador AS idColaborador,
        c.nombre AS nombre,
        c.apellido_paterno AS apellidoPaterno,
        c.apellido_materno AS apellidoMaterno,
        c.numero_personal AS numeroPersonal,
        c.curp AS curp,
        c.correo_electronico AS correoElectronico,
        c.id_unidad_asignada AS idUnidadAsignada,
        c.idrol AS idRol,
        r.nombre_rol AS rol
    FROM colaborador c
    INNER JOIN rol r ON r.idrol = c.idrol
       WHERE nombre LIKE CONCAT('%', #{filtro}, '%')
       OR apellido_paterno LIKE CONCAT('%', #{filtro}, '%')
       OR apellido_materno LIKE CONCAT('%', #{filtro}, '%');
    </select>
    
     <select id="obtener-por-noPersonal" parameterType="string" resultType="pojo.Colaborador" >
       SELECT 
        c.id_colaborador AS idColaborador,
        c.nombre AS nombre,
        c.apellido_paterno AS apellidoPaterno,
        c.apellido_materno AS apellidoMaterno,
        c.numero_personal AS numeroPersonal,
        c.curp AS curp,
        c.correo_electronico AS correoElectronico,
        c.id_unidad_asignada AS idUnidadAsignada,
        c.idrol AS idRol,
        r.nombre_rol AS rol
    FROM colaborador c
    INNER JOIN rol r ON r.idrol = c.idrol
        WHERE numero_personal = #{numeroPersonal};

    </select>
    
    
    <select id="obtener-por-rol" parameterType="int" resultType="pojo.Colaborador" >
       SELECT 
        c.id_colaborador AS idColaborador,
        c.nombre AS nombre,
        c.apellido_paterno AS apellidoPaterno,
        c.apellido_materno AS apellidoMaterno,
        c.numero_personal AS numeroPersonal,
        c.curp AS curp,
        c.correo_electronico AS correoElectronico,
        c.id_unidad_asignada AS idUnidadAsignada,
        c.idrol AS idRol,
        r.nombre_rol AS rol
    FROM colaborador c
    INNER JOIN rol r ON r.idrol = c.idrol
        WHERE c.idrol = #{idRol};

    </select>
    
    
    
   
     <update id="guardar-foto" parameterType="pojo.Colaborador">
        UPDATE colaborador set fotografia = #{fotografia}
        WHERE id_colaborador = #{id_colaborador}
    </update>
    
     <select id = "obtener-foto" parameterType = "int" resultType ="pojo.Colaborador">
        SELECT id_colaborador, TO_BASE64(fotografia) as fotoBase64 FROM colaborador WHERE id_colaborador = #{id_colaborador}
    </select>
    
   

</mapper>