<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="envio">
    <select id="obtener-todos" resultType="pojo.Envio">
        SELECT e.id_envio AS idEnvio, 
               e.numero_guia AS numeroGuia, 
               e.destinatario_nombre AS destinatarioNombre,
               e.destino_calle AS destinoCalle,       
               e.destino_numero AS destinoNumero,     
               e.destino_estado AS destinoEstado,     
                c.nombre AS nombreCliente, 
               s.nombre_corto AS sucursalOrigen,
               col.nombre AS nombreConductor,
               est.nombre AS estatusEnvio,
               e.costo_total AS costoTotal
        FROM envio e
        INNER JOIN cliente c ON e.id_cliente_remitente = c.id_cliente
        INNER JOIN sucursal s ON e.codigo_sucursal_origen = s.codigo_sucursal
        LEFT JOIN colaborador col ON e.id_conductor_asignado = col.id_colaborador
        INNER JOIN estatus_envio est ON e.id_estatus_envio = est.id_estatus_envio
    </select>
    
    <select id="obtener-historial" resultType="pojo.HistorialEstatus">
        SELECT h.id_historial AS idHistorial, 
               e.nombre AS estatus, 
               h.fecha_hora_cambio AS fechaCambio,
               h.comentario AS comentario, c.nombre AS nombreColaborador 
        FROM historial_estatus h
        INNER JOIN estatus_envio e ON h.id_estatus_envio = e.id_estatus_envio
        INNER JOIN colaborador c ON h.id_colaborador_actualiza = c.id_colaborador
        WHERE h.id_envio = #{idEnvio}
        ORDER BY h.fecha_hora_cambio DESC
    </select>
    
    <select id="obtener-por-conductor" parameterType="int" resultType="pojo.Envio">
    SELECT e.id_envio AS idEnvio,
           e.numero_guia AS numeroGuia,
           e.destinatario_nombre AS destinatarioNombre,
           e.destinatario_ap_paterno AS destinatarioApPaterno,
           e.destinatario_ap_materno AS destinatarioApMaterno,
           e.destino_calle AS destinoCalle,
           e.destino_numero AS destinoNumero,
           e.destino_colonia AS destinoColonia,
           e.destino_codigo_postal AS destinoCodigoPostal,
           e.destino_ciudad AS destinoCiudad,
           e.destino_estado AS destinoEstado,
           est.nombre AS estatusEnvio
    FROM envio e
    INNER JOIN estatus_envio est ON e.id_estatus_envio = est.id_estatus_envio
    WHERE e.id_conductor_asignado = #{idConductor}
    ORDER BY e.id_envio DESC
</select>


<select id="obtener-detalle" parameterType="int" resultType="pojo.Envio">
    SELECT e.id_envio AS idEnvio,
           e.numero_guia AS numeroGuia,
           e.destinatario_nombre AS destinatarioNombre,
           e.destinatario_ap_paterno AS destinatarioApPaterno,
           e.destinatario_ap_materno AS destinatarioApMaterno,
           e.destino_calle AS destinoCalle,
           e.destino_numero AS destinoNumero,
           e.destino_colonia AS destinoColonia,
           e.destino_codigo_postal AS destinoCodigoPostal,
           e.destino_ciudad AS destinoCiudad,
           e.destino_estado AS destinoEstado,
           e.costo_total AS costoTotal,
           e.id_cliente_remitente AS idClienteRemitente,
           e.codigo_sucursal_origen AS codigoSucursalOrigen,
           e.id_conductor_asignado AS idConductorAsignado,
           e.id_estatus_envio AS idEstatusEnvio,
           c.nombre AS nombreCliente,
           c.telefono,
           c.correo_electronico AS correoElectronico,
           s.nombre_corto AS sucursalOrigen,
           col.nombre AS nombreConductor,
           est.nombre AS estatusEnvio
    FROM envio e
    INNER JOIN cliente c ON e.id_cliente_remitente = c.id_cliente
    INNER JOIN sucursal s ON e.codigo_sucursal_origen = s.codigo_sucursal
    LEFT JOIN colaborador col ON e.id_conductor_asignado = col.id_colaborador
    INNER JOIN estatus_envio est ON e.id_estatus_envio = est.id_estatus_envio
    WHERE e.id_envio = #{idEnvio}
</select>

<select id="obtener-detalle-por-guia"
        parameterType="string"
        resultType="pojo.Envio">

    SELECT e.id_envio AS idEnvio,
           e.numero_guia AS numeroGuia,
           e.destinatario_nombre AS destinatarioNombre,
           e.destinatario_ap_paterno AS destinatarioApPaterno,
           e.destinatario_ap_materno AS destinatarioApMaterno,

           e.destino_calle AS destinoCalle,
           e.destino_numero AS destinoNumero,
           e.destino_colonia AS destinoColonia,
           e.destino_codigo_postal AS destinoCodigoPostal,
           e.destino_ciudad AS destinoCiudad,
           e.destino_estado AS destinoEstado,

           e.costo_total AS costoTotal,

           e.id_cliente_remitente AS idClienteRemitente,
           e.codigo_sucursal_origen AS codigoSucursalOrigen,
           e.id_conductor_asignado AS idConductorAsignado,
           e.id_estatus_envio AS idEstatusEnvio,

           c.nombre AS nombreCliente,
           c.telefono,
           c.correo_electronico AS correoElectronico,

           s.nombre_corto AS sucursalOrigen,

           col.nombre AS nombreConductor,

           est.nombre AS estatusEnvio

    FROM envio e

    INNER JOIN cliente c
        ON e.id_cliente_remitente = c.id_cliente

    INNER JOIN sucursal s
        ON e.codigo_sucursal_origen = s.codigo_sucursal

    LEFT JOIN colaborador col
        ON e.id_conductor_asignado = col.id_colaborador

    INNER JOIN estatus_envio est
        ON e.id_estatus_envio = est.id_estatus_envio

    WHERE e.numero_guia = #{numeroGuia}

</select>

    <select id="obtener-todos-sin-costo" resultType="pojo.Envio">
        SELECT id_envio AS idEnvio, 
               codigo_sucursal_origen AS codigoSucursalOrigen,
               destino_codigo_postal AS destinoCodigoPostal
        FROM envio
        WHERE costo_total = 0 OR costo_total IS NULL
    </select>

    
    <insert id="registrar" parameterType="pojo.Envio" useGeneratedKeys="true" keyProperty="idEnvio">
        INSERT INTO envio (numero_guia, destinatario_nombre, destinatario_ap_paterno, destinatario_ap_materno,
                           destino_calle, destino_numero, destino_colonia, destino_codigo_postal, destino_ciudad, destino_estado,
                           costo_total, id_cliente_remitente, codigo_sucursal_origen, id_estatus_envio)
        VALUES (#{numeroGuia}, #{destinatarioNombre}, #{destinatarioApPaterno}, #{destinatarioApMaterno},
                #{destinoCalle}, #{destinoNumero}, #{destinoColonia}, #{destinoCodigoPostal}, #{destinoCiudad}, #{destinoEstado},
                #{costoTotal}, #{idClienteRemitente}, #{codigoSucursalOrigen}, 1)
    </insert>
    
    <insert id="registrar-historial" parameterType="map">
        INSERT INTO historial_estatus (id_envio, id_colaborador_actualiza, id_estatus_envio, comentario)
        VALUES (#{idEnvio}, #{idColaborador}, #{idEstatus}, #{comentario})
    </insert>
    
    
    

    <update id="actualizar-estatus" parameterType="map">
        UPDATE envio SET id_estatus_envio = #{idEstatus} WHERE id_envio = #{idEnvio}
    </update>

    <update id="asignar-conductor" parameterType="map">
        UPDATE envio SET id_conductor_asignado = #{idConductor} 
        WHERE id_envio = #{idEnvio}
    </update>
    
    
    <update id="editar" parameterType="pojo.Envio">
        UPDATE envio 
        SET destinatario_nombre = #{destinatarioNombre}, 
            destinatario_ap_paterno = #{destinatarioApPaterno},
            destinatario_ap_materno = #{destinatarioApMaterno},
            destino_calle = #{destinoCalle}, 
            destino_numero = #{destinoNumero},
            destino_colonia = #{destinoColonia}, 
            destino_codigo_postal = #{destinoCodigoPostal},
            destino_ciudad = #{destinoCiudad}, 
            destino_estado = #{destinoEstado}
        WHERE id_envio = #{idEnvio}
    </update>
    
    <update id="actualizar-costo" parameterType="map">
        UPDATE envio SET costo_total = #{costoTotal} WHERE id_envio = #{idEnvio}
    </update>
    
    <delete id="eliminar-historial" parameterType="int">
        DELETE FROM historial_estatus WHERE id_envio = #{idEnvio}
    </delete>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM envio WHERE id_envio = #{idEnvio}
    </delete>
  
</mapper>


