<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="envio">
    <select id="obtener-todos" resultType="pojo.Envio">
        SELECT e.id_envio AS idEnvio, e.numero_guia AS numeroGuia, 
               e.destinatario_nombre AS destinatarioNombre,
               c.nombre AS nombreCliente, 
               s.nombre_corto AS sucursalOrigen,
               col.nombre AS nombreConductor,
               est.nombre AS estatusEnvio,
               e.costo_total AS costoTotal
        FROM envio e
        INNER JOIN cliente c ON e.id_cliente_remitente = c.id_cliente
        INNER JOIN sucursal s ON e.codigo_sucursal_origen = s.codigo_sucursal
        LEFT JOIN colaborador col ON e.id_conductor_asignado = col.id_colaborador
        INNER JOIN estatus_envio est ON e.id_estatus_envio = est.id_estatus_envio
    </select>
    
    <insert id="registrar" parameterType="pojo.Envio" useGeneratedKeys="true" keyProperty="idEnvio">
        INSERT INTO envio (numero_guia, destinatario_nombre, destinatario_ap_paterno, destinatario_ap_materno,
                           destino_calle, destino_numero, destino_colonia, destino_codigo_postal, destino_ciudad, destino_estado,
                           costo_total, id_cliente_remitente, codigo_sucursal_origen, id_estatus_envio)
        VALUES (#{numeroGuia}, #{destinatarioNombre}, #{destinatarioApPaterno}, #{destinatarioApMaterno},
                #{destinoCalle}, #{destinoNumero}, #{destinoColonia}, #{destinoCodigoPostal}, #{destinoCiudad}, #{destinoEstado},
                #{costoTotal}, #{idClienteRemitente}, #{codigoSucursalOrigen}, 1)
    </insert>

    <update id="actualizar-estatus" parameterType="map">
        UPDATE envio SET id_estatus_envio = #{idEstatus} WHERE id_envio = #{idEnvio}
    </update>

    <update id="asignar-conductor" parameterType="map">
        UPDATE envio SET id_conductor_asignado = #{idConductor} 
        WHERE id_envio = #{idEnvio}
    </update>
  
</mapper>


