<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paquete">

  <insert id="registrar" parameterType="pojo.Paquete">
    INSERT INTO paquete
    (id_envio,descripcion,peso_kg,alto_cm,ancho_cm,profundidad_cm)
    VALUES
    (#{idEnvio},#{descripcion},#{pesoKg},#{altoCm},#{anchoCm},#{profundidadCm});
  </insert>

  <select id="por-envio" parameterType="int" resultType="pojo.Paquete">
    SELECT * FROM paquete WHERE id_envio=#{idEnvio};
  </select>

  <update id="editar" parameterType="pojo.Paquete">
    UPDATE paquete SET
      descripcion=#{descripcion},
      peso_kg=#{pesoKg},
      alto_cm=#{altoCm},
      ancho_cm=#{anchoCm},
      profundidad_cm=#{profundidadCm}
    WHERE id_paquete=#{idPaquete};
  </update>

  <delete id="eliminar" parameterType="int">
    DELETE FROM paquete WHERE id_paquete=#{idPaquete};
  </delete>
  
</mapper>

